body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51);  
}

nav {
  background-color: none;
}

.images {
  width: 320px;
  height: 320px;
}

.card {
  height: 100%;
}

.col {
  margin-bottom: 1.5rem;  
}

.activator {
  height: 320px;
}